
/*general*/
body{
    margin:0;
    padding:0;
}

header{
    background-color:  #FFE4E1;   /* #f4f4f4;*/
    width: 100%;
    height: 170px;
    padding: 10px;;
    margin:0;
    text-align:center;
    font-size: 100px;
    animation: rainbow-colors 8s linear infinite;
    animation-delay: calc(-4s * var(--char-percent));
    color: hsl(
      calc(240deg * var(--char-percent)
      ), 
      90%, 
      100%
    );


   
}
@keyframes rainbow-colors {
  0% { color: rgb(255, 251, 20); }
  75% { color: rgb(255, 195, 15); }
  25% { color: hsl(.25turn, 90%, 65%); }
  50% { color: rgb(43, 235, 14); }
  75% { color: hsl(.75turn, 90%, 65%); }
  100% { color: hsl(1turn, 90%, 65%); }
  100% { color: rgb(243, 59, 59); }

}

h1{
  font-size:56px;
  color: #dacbe8;
  font-weight:bold;
  text-decoration: none;
  margin-top: 0;
  padding-top: 20px;
}

/*menu*/
.menu {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dacbe8;
    text-align: justify;
  }
  .menu a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 15px 15px;
    text-align: center;
    color:#e079ba;
    font-family: sans-serif bold;

  }
  .menu a:hover {
    color:   #C71585;  /* rgb(200, 179, 205);*/
  }


/*menu */

/*footer*/

  .container-footer{
    display: inline;
    position:absolute;
    height: 100px;
    width: 100%;
    background: #FFE4E1;   /*#ecbce1; */      /* #dacbe8;*/
    margin: 0;
    align-items: center;
    padding:25px 10px 50px 90px;
    position:inline;
  }
  .container-footer a{
    padding: 20px;
    text-decoration:none;
    
  }
  /*footer*/

  /*backgrounds*/
  .container-imagen-home { 
    background-image: url("https://media.globalcitizen.org/5a/7b/5a7b7b6e-0796-4005-a7dd-c7a7c7fb1ded/coldplay_hero.jpg");
    background-color:black;
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container-historia,.container-noticias,.container-tour,.container-canciones,.container-novedades{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(46,13,165,1) 80%, rgba(46,13,165,1) 100%);
    height: 1000px;
    width: 100%;
    position: relative;
  
  }
  /*general---fuentes*/
  .container-noticias,.container-tour,.container-novedades,.container-canciones h1{
    position: relative;
    padding:0;
    text-align: center;
   }
  
  
 /*general*/

 /*historia*/
  
 
  .historia{
   display: -webkit-flex;
   display: flex;
   position: relative;
  }
 
  .sec-historia-imagen{
    flex: 50%;
    padding: 5px;
    margin: 100px 50px 25px 100px;
  }
  .img-historia{
    width: 10%;
    height: 100%;
  }
 
  .sec-historia-texto{
    flex: 50%;
    padding: 5px;
    margin: 70px 50px 70px;
  }
 .sec-historia-texto p{
  color:#dacbe8;
 }

 /*historia*/

 /*novedades*/
 .formulario
 {
  width: 600px;
  margin: auto;
  background-color: rgba(0,0,0,0.4);
  padding: 30px;
  box-sizing: border-box;
  margin-top: 20px;
 }
 .h2nov
 {
  margin: 0px;
  text-align: center;
  color: #e079ba;
  font-size: 30px;
 }

 input{
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 17px;
  border: #9932CC  solid 5px;
  background-color: #FFB6C1;

 }
 #button
 {
  background-color: #4B0082;
  color: #FFE4E1;
  padding: 20px;  
 }
 #button:hover
 {
  background-color: #BA55D3;
 }

 /*tour*/
 .boton-fechas
 {
    background-color: #e079ba;
    color: beige;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 160px;
    border: #C71585 solid 2px;
    position: relative;
 }
 .boton-fechas:hover
 {
   background-color: #C71585;
   border-radius: 160px;
   border: #e079ba solid 3px;

 }
 .h2class
 {
  color: hsl(.75turn, 90%, 65%);
  text-align: center;
  border: #C71585 solid 5px;
  font-size: 35px;
  margin-left: 5px;
 }
 .ptour{
  text-align: center;
  color:#FFA2F3;
  font-size: 20px;
 }
 .padre{
  display: flex;
 }
 
 
 .hijo
 {  
    color:#FFA2F3;
    border: #C71585 solid 5px; 
    padding: 20px;
    height: 60px;


 }
 ul{
  color: #FFB6C1;
  font-size:18px;
  padding-top: 10px;
 }
 



 /*noticias*/

 /* galeria de noticias  */


*{box-sizing: border-box;
}

.container-noticias{
  height:100%;
}
.container-noticias h3{
  font-size:25px;
}
.container-noticias p{
  font-size:15px;
}
 .main {
  height: 100%;
  margin: auto;
}

.row {
 padding-left: 25px;
}

.row,
.row > .column {
  padding: 6px;
}


.column {
  float: left;
  width: 25%;

}

.column:hover{
 cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.content {
 padding: 5px;

}

 /* galeria de noticias  */

/*Responsive*/

 @media only screen and (max-width: 600px) {
  header{  height:80px;
           font-size: 45px;

        }

  h1{
    font-size:50px;
  }

  h2{
    font-size:35px;
  }

  p{
    font-size:12px;
  }
  .menu{display:block;
     height:150px;
     padding-top:-5px;
        }
  
 .menu a{
    padding: 3px;
  }
  .menu a:hover{
    background-color:#C71585;
    color:#FFE4E1;   
  }
  .container-imagen-home{
    width:100%;
  }
.sec-historia-imagen{
  margin-top:0;
}
.img-historia{
  width:50%;
  height:70%;

}
  .historia{
    display:block;
    height:800px; 
   }
 
   iframe {
    width:100%;
    height:50%;
   }
   
   
   .column {
    width: 100%;
  }
  .video-yt iframe{
    position:relative ;
    margin:0;
    width:100%;
    height:100%;

    
  }
  
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
 
  header{
  width: 100%;
    height: 120px;
    padding: 10px;;
    margin:0;
    text-align:center;
    font-size: 70px;
  }
  .column {
    width: 50%;
  }
}

<<<<<<< HEAD
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .formulario {
     width: 100%;
  }

  
 


