
/*general*/
body{
    margin:0;
    padding:0;
  
}

header{
    background-color:  #FFE4E1;   /* #f4f4f4;*/
    width: 100%;
    height: 170px;
    padding: 10px;
    margin:0;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    animation: rainbow-colors 8s linear infinite;
    animation-delay: calc(-4s * var(--char-percent));
    color: hsl(
      calc(240deg * var(--char-percent)
      ), 
      90%, 
      100%
    );


   
}
@keyframes rainbow-colors {
  0% { color: rgb(255, 251, 20); }
  75% { color: rgb(255, 195, 15); }
  25% { color: hsl(.25turn, 90%, 65%); }
  50% { color: rgb(43, 235, 14); }
  75% { color: hsl(.75turn, 90%, 65%); }
  100% { color: hsl(1turn, 90%, 65%); }
  100% { color: rgb(243, 59, 59); }

}

h1{
  font-size:56px;
  font-family: 'Times New Roman', Times, serif;
  color: #f066f7;
  font-weight:bold;
  text-decoration: none;
  margin-top: 0;
  position: relative;
  padding:0;
  text-align: center;
}

/*menu*/
.menu {
    display:flex;
    justify-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dacbe8;
    text-align: justify;
  }
  .menu a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 15px 15px;
    text-align: center;
    color:#e079ba;
    font-family: 'Times New Roman',serif;

  }
  .menu a:hover {
    color:   #C71585;  /* rgb(200, 179, 205);*/
  }


/*menu */

/*footer*/

  .container-footer{
    display: flex ;
    position:absolute;
    height: 100px;
    width: 100%;
    background: #FFE4E1;   /*#ecbce1; */      /* #dacbe8;*/
    margin: 0;
    padding:25px;
  }
  .container-footer a{
    padding: 20px;
    text-decoration:none;
    justify-content:center;  
  }



  /*footer*/

  /*backgrounds*/
  .container-imagen-home { 
    background-image: url("https://media.globalcitizen.org/5a/7b/5a7b7b6e-0796-4005-a7dd-c7a7c7fb1ded/coldplay_hero.jpg");
    background-color:black;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container-historia,.container-noticias,.container-canciones,.container-novedades{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(46,13,165,1) 80%, rgba(46,13,165,1) 100%);
    height: 1200px;
    width: 100%;
    position: relative;
  
  }

  /*general---fuentes*/
  

 .sec-historia-texto p{
  position: relative;
  text-align:justify;
 }

 .sec-historia-texto h1{
  margin-top:-200px;
  margin-bottom:220px;
 }

 /*general*/

 /*historia*/
  
  .container-historia{
   display: flex;
   position: block;
  }
  .img-historia{
  width: 100%;
  height:70%;
  
  }
  

  .sec-historia-texto{
    float:center;
    
  }
 .sec-historia-texto p{
  color:#dacbe8;
  font-family:'Times New Roman',sans-serif;
  padding:15px;
 }

 /*historia*/

 /*novedades*/
 .formulario
 {
  /*corregir width=correcto width=80%*/
  width: 600px;
  margin: auto;
  background-color: rgba(0,0,0,0.4);
  padding: 12px;
  box-sizing: border-box;
  margin-top: 10px;
 }
 .h2nov
 {
  margin: 0px;
  text-align: center;
  color: #e079ba;
  font-size: 30px;
 }

 input 
  {
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border: #9932CC  solid 5px;
    background-color: #FFB6C1;
  }

  

 /*canciones*/
 .container-canciones h2{
  text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  font-size:30px;
 }


 .neonText{
  color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
    animation: pulsate 0.11s ease-in-out infinite alternate;    
 }
 
@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;

}
}

.video-yt{
padding:30px;
}

.spotify-player{
  padding:8px;
}


 
/*tour*/

 /*-------noticias----------------------*/

 /* galeria de noticias  */


*{box-sizing: border-box;}


.container-noticias h3{
  font-family:'Merriweather',serif;
  font-size:25px 1000;
  color:#dacbe8;
}

.container-noticias p{
  font-family:'Josefin Sans',serif;
  font-size:15px;
  color: #dacbe8;
}
 .container-noticias {
  height: 100%;
  margin: auto;
}

.row {
 padding-left: 25px;
}

.row,
.row > .column {
  padding: 8px;
}


.column {
  float: left;
  text-align: center;

}

.column:hover{
 cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column img{
  width: 100%;
}
.content{
  padding: 10px;
}

.content:hover h3{
  color:#ff5dc4;
  overflow: hidden;
}

 /* galeria de noticias  */

/*-----Responsive---------*/
/*Break points fueron tomados en base a w3schools*/


/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
 
 
  /*-----(max-width: 600px) componentes generales-----*/
  header{ 
    height:100px;
    font-size:60px;
  }
 
 h1{
 font-size:45px;
 padding-top: 15px;
 }

 h3{
   font-size:25px;
 }

 .menu{
  display:block;
  height:150px;
  padding-top:-5px;
   }
  
  .menu a{
  padding: 3px;
  }

  .menu a:hover{
  background-color:#ff4abd;
  color:#FFE4E1;   
  }

  .container-footer{
    padding: 8px;
   }

   .container-footer{
    padding:20px;
  }
  .container-footer a{
    padding: 10px;
    
  }

  /*componentes generales*/

 

/*------------(max-width: 600px) responsive--------historia*/
.container-historia{
  height:100%;
 
}
 .sec-historia-imagen{
  margin-top:0;
 }

.container-historia h1{
  position:absolute;
  padding-top: 100px;
  padding-left: 80px;
}
.container-historia p{
  font-size:17;

}
 
/*-------(max-width: 600px) responsive canciones--------------------*/
  .container-canciones{
    flex-direction: column;
    height: 1200px;
  }
  .spotify-player  {
    width:100%;
    height: 500px;
   }
   

  .video-yt iframe{
    position:relative ;
    margin:0;
    width:100%;
    height: 250px;

  }
  

  /*--------(max-width: 600px) responsive pagina noticias-----*/


.container-noticias p{
  font-size:18px;
}

 .column {
    width:100%;
  }
 .content img{
    width:70%;
    height:80%;
  }
}

/*----------------Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 /*-----componentes generales (min-width: 768px)---*/
  header{
    width: 100%;
    height: 120px;
    padding: 10px;;
    margin:0;
    text-align:center;
    font-size: 80px;
  }
   h1{
    font-size:60px;
    padding-top: 25px;
    }

    h3{
      font-size:30px;
    }


  /*-------- (min-width: 768px) noticias-------------*/
  .column {
    width: 50%;
  }
 
  .container-noticias p{
    font-size:20px;
  }
  .content img{
    width:100%;
    height:100%;
  }
 
  /*-------- (min-width: 768px) canciones-------------*/
  .container-canciones{
    height: 1200px;
  }
  .video-yt iframe{
    width: 100%;
    height: 400px; 
  }
  .spotify-player{
    width: 100%;
    height: 40%;
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*-----(min-width: 992px)componentes generales------*/
  header{ 
    height:150px;
    font-size:120px;
  }
  h1{
    font-size:70px;
    padding-top: 30px;
  }


   h3{
    font-size:35px;
  }


  /*------(min-width: 992px)noticias-------------*/
  .column {
    width: 25%;
  }
  .container-noticias p{
    font-size:20px;
  }
  .container-noticias h3{
    font-size:30px;
  }
  .content img{
    width:100%;
    height:100%;
  }


  /*---- (min-width: 992px)historia---------*/
  .container-historia p{
    padding: 10px;
    margin: 0 auto;
   }

   /*----(min-width:992px)canciones------*/

   .container-canciones{
   display:block;
   height: 100%;
   }
   .video-yt {
    position:relative;
    width: 60%;
    height: 600px;
    justify-content: center;
    margin-left: 260px;
  }
  .spotify-player{
    width: 100%;
    height: 450px;
  }

}
}



